@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: regular;
}
@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: medium;
}
@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: semibold;
}
@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: bold;
}

:root {
    --text-color:        #000000;
    --text-color-alt:    #646464;
    --background-dark:   #B5B3B1;
    --background-medium: #D5D3D1;
    --background-light:  #FFFFFF;
}

* {
    color: var(--text-color);
    margin: 0;
    padding: 0;
}
html {
    font-family: 'Montserrat', sans-serif;
}
a {
    text-decoration: none;
}
h2 {
    padding: 0.8rem 0 0.8rem 0;
}

header {
    background: var(--background-medium);
}
header > h1 {
    padding: 1rem;
}

nav {
    display: flex;
    justify-content: flex-end;
}
nav > div {
    padding: 0 1rem;
}
nav > div > a {
    display: block;
    font-weight: 600;
    line-height: 2rem;
    text-align: center;
    width: 100%;
}
nav > div > a:hover { color: var(--text-color-alt); }

main {
    display: flex;
    flex-direction: column;
}
section {
    padding: 1rem;
}
section:nth-child(odd) { background: var(--background-light); }
section:nth-child(even) { background: var(--background-medium); }
section > * {
    margin: 0 auto;
    max-width: 60rem;
}
section p:not(:last-child) {
    margin-bottom: 1rem;
}

footer {
    background: var(--background-dark);
    font-size: 0.9rem;
    padding: 1rem;
    text-align: right;
}

.vsplit {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
@media (min-width:480px) {
    .vsplit { flex-wrap: nowrap; }
}
.vsplit > * {
    margin: 1rem;
}
