/* New */

html, body {
    margin: 0;
    width: 100%;
    height: 100%;
}

#navbar {
    display: flex;
    justify-content: flex-begin;
    height: 100%;
}
#navbar div {
    background-position: center;
    background-repeat: no-repeat;
    width: 125px;
}
#navbar div a {
    display: block;
    line-height: 37px;
    text-align: center;
    width: 100%;
}

/* Old */
.bodytext {font-family:Arial;font-size:11px;color:#000000;text-decoration:none;}
.titletext {font-family:Arial;font-size:14px;color:#000000;text-decoration:none;font-weight:bold;}
.quotetext {font-family:Arial;font-size:10px;color:#000000;text-decoration:none;font-style:italic}

.greenmenu:link {font-family:Arial;font-size:12px;color:#000000;text-decoration:none;}
.greenmenu:visited {font-family:Arial;font-size:12px;color:#000000;text-decoration:none;}
.greenmenu:active {font-family:Arial;font-size:12px;color:#000000;text-decoration:none;}
.greenmenu:hover {font-family:Arial;font-size:12px;color:#FFFFFF;text-decoration:none;}

.bodylink:link {font-family:Arial;font-size:11px;color:#000000;text-decoration:none;}
.bodylink:visited {font-family:Arial;font-size:11px;color:#000000;text-decoration:none;}
.bodylink:active {font-family:Arial;font-size:11px;color:#000000;text-decoration:none;}
.bodylink:hover {font-family:Arial;font-size:11px;color:#7EB739;text-decoration:none;}

.whitemenu:link {font-family:Arial;font-size:12px;color:#365618;text-decoration:none;}
.whitemenu:visited {font-family:Arial;font-size:12px;color:#365618;text-decoration:none;}
.whitemenu:active {font-family:Arial;font-size:12px;color:#365618;text-decoration:none;}
.whitemenu:hover {font-family:Arial;font-size:12px;color:#7EB739;text-decoration:none;}

.dark:link {font-family:Arial;font-size:11px;color:#ffffff;text-decoration:none;}
.dark:visited {font-family:Arial;font-size:11px;color:#ffffff;text-decoration:none;}
.dark:active {font-family:Arial;font-size:11px;color:#ffffff;text-decoration:none;}
.dark:hover {font-family:Arial;font-size:11px;color:#EFE2D6;text-decoration:none;}
.footertext {font-family:Arial;font-size:11px;color:#ffffff;text-decoration:none;}

.bodymenu:link {font-family:Arial;font-size:11px;color:#365618;text-decoration:none;}
.bodymenu:visited {font-family:Arial;font-size:11px;color:#365618;text-decoration:none;}
.bodymenu:active {font-family:Arial;font-size:11px;color:#365618;text-decoration:none;}
.bodymenu:hover {font-family:Arial;font-size:11px;color:#7EB739;text-decoration:none;}
.bodymenutext {font-family:Arial;font-size:11px;color:#365618;text-decoration:none;}
