<td width="229" height="262" valign="top" background="./images/contactbg.png"
    style="background-repeat:no-repeat">
  <table width="100%" border="0" cellspacing="0" cellpadding="13">
    <tr>
      <td>
        <p align="center" class="bodytext">
          <img src="./images/PeterBarnes_portrait.jpg" width="73" height="82" /> <br />
          <br />
          Peter Barnes, D.Min. CCC <br />
          <br />
          Phone: 709-747-1107 <br />
          <a href="mailto:pbarnes@spiritualpathways.ca" class="bodylink">pbarnes\@spiritualpathways.ca</a> <br />
          <br />
          Locations: <br />
          120 LeMarchant Rd., St. John's, NL <br />
          210 Burnt Head Loop, Cupids, NL
        </p>
      </td>
    </tr>
  </table>
</td>
