<div id="info_menu">
  <div>
    <span class="titletext">Spiritual Counselling</span>
    <img src="./images/spiritualcounselling.jpg" width="229" height="73" />
    <span class="bodytext">
      Do you perceive your every-day life sometimes as overwhelming? Do fears
      hold you back? Do you want to get over a loss? Are you without love for
      life?
    </span>
    <div class="flex-grow1"></div>
    <div align="right">
      <a href="services_spiritualcounselling.php">
        <img src="./images/readmore.jpg" width="121" height="26" border="0" />
      </a>
    </div>
  </div>

  <div>
    <span class="titletext">Pastoral Counselling</span>
    <img src="./images/pastoralcounselling.jpg" width="229" height="73" />
    <span class="bodytext">
      Pastoral Counseling has evolved through the years from religious and
      spiritual counseling to pastoral psychotherapy which integrates theology
      and the behavioral sciences into one treatment schedule.
    </span>
    <div class="flex-grow1"></div>
    <div align="right">
      <a href="services_spiritualcounselling.php">
        <img src="./images/readmore.jpg" width="121" height="26" border="0" />
      </a>
    </div>
  </div>

  <div>
    <span class="titletext">Life Coaching</span>
    <img src="./images/lifecoaching.jpg" width="229" height="73" />
    <span class="bodytext">
      Life Coaching is for people that are truly ready to create a successful
      life for themselves. A life coach is skilled in helping you to make
      radical improvements in your life. If things are pretty good, but you want
      them to be great!
    </span>
    <div class="flex-grow1"></div>
    <div align="right">
      <a href="services_spiritualcounselling.php">
        <img src="./images/readmore.jpg" width="121" height="26" border="0" />
      </a>
    </div>
  </div>
</div>
