<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
  <title>Peter Barnes: Spiritual Pathways</title>
  <link href="./style.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td background="./images/left.jpg" style="background-position:top right">&nbsp;</td>
      <td width="873" background="./images/centerbg.jpg">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td><img src="./images/title.jpg" width="873" height="137" /></td>
          </tr>
          <tr>
            <td height="37" background="./images/menubg.jpg">
              __NAVBAR__
            </td>
          </tr>
          <tr>
            <td height="330" valign="top" background="./images/bodybg_light.jpg">
              <table width="100%" border="0" cellspacing="0" cellpadding="33">
                <tr>
                  <td>
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        __CONTACT_MENU__
                        <td width="39">&nbsp;</td>
                        <td valign="top">
                          <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr> <td class="titletext">Services</td> </tr>
                            <tr> <td>&nbsp;</td> </tr>
                            <tr>
                              <td class="bodytext">
                                Whether its loss related, uncertainties, loneliness, or new opportunities to be explored, you may need help to chart a spiritual pathway in order to grow into a new life experience of enhanced meaning and purpose.
                              </td>
                            </tr>
                            <tr> <td height="30">&nbsp;</td> </tr>
                            <tr>
                              <td height="82" background="./images/greenquotebar.png">
                                <table width="100%" border="0" cellspacing="0" cellpadding="12">
                                  <tr>
                                    <td class="quotetext">
                                      Keep your thoughts positive because your thoughts become your words. Keep your words positive because your words become your behaviors. Keep your behaviors positive because your behaviors become your habits. Keep your habits positive because your habits become your values. Keep your values positive because your values become your destiny.
                                    </td>
                                  </tr>
                                </table>
                              </td>
                            </tr>
                          </table>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td height="291" valign="top" background="./images/bodybg_dark.jpg">
              __INFO_MENU__
            </td>
          </tr>
          <tr>
            <td height="76" background="./images/footer.png">
              <table width="100%" border="0" cellspacing="0" cellpadding="10">
                <tr>
                  <td width="50%" class="footertext">Copyright &copy; 2024 Peter Barnes: Spiritual Pathways. All rights reserved.</td>
                  <td width="50%">
                    <div align="right" class="footertext"></div>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </td>
      <td background="./images/right.jpg">&nbsp;</td>
    </tr>
  </table>
</body>

</html>
